[Project]
Name = TSUMAPS1.1
Root_Folder = 
Stumaps_Folder = TSUMAPS1.1
pyPTF_Folder = 

[tsumaps]
Regionalization_Folder = ../IO/med-tsumaps-python
Regionalization_txt = Regions-BabeykoTypes-20170901.txt
Scenarios_mat_Folder = 
bs_file_names = ScenarioListBS_Reg
ps_file_names = ScenarioListPS_Reg
POIs_Folder = ../IO/med-tsumaps-python
POIs_File = poi_TSUMAPS.lst
Discretization_Folder =
Faults_Folder = 
Weight_Folder = 
HazCond_Folder = 
HazCond_File = med_af.hdf5
MIH_Folder = 
MIHthr_File = mih_thresholds.txt
MIHunc_File = mih_unc_steps.txt
ProbabilityModels = 
PSBarInfo = 
ModelWeight = ../IO/med-tsumaps-python/ModelsWeight.mat

[pyptf]
Regionalization_npy = ../IO/med-tsumaps-python/regionalization.npy
Scenarios_py_Folder = ../IO/med-tsumaps-python/ScenarioList
bs_file_names = ScenarioListBS_Reg
ps_file_names = ScenarioListPS_Reg
POIs_npy = 
Discretization_npy = ../IO/med-tsumaps-python/discretizations.npy
Weight_npy = 
HazCond_npy = 
h_curves = /bigscratch/cordrie/hazard_curves_npy
h_curves_temp = /bigscratch/selva/PTFMed_python
gl_ps_curves_file_names = glVal_PS_Reg
gl_bs_curves_file_names = glVal_BS_Reg
af_ps_curves_file_names = afVal_PS_Reg
af_bs_curves_file_names = afVal_BS_Reg
os_ps_curves_file_names = osVal_PS_Reg
os_bs_curves_file_names = osVal_BS_Reg
FocMech_Preproc = ../IO/med-tsumaps-python/FocMech_PreProc
ProbabilityModels = 
PSBarInfo = ../IO/med-tsumaps-python/PSBarInfo.npy
ModelWeight = ../IO/med-tsumaps-python/ModelWeights.npy
path_to_coast_shape_file = 
coast_shapefile = 50m_land.shp

[save_ptf]
save_main_path = ptf_localOutput
save_sub_path = 
hazard_curves_original = hazard_curves_original
hazard_curves_MC = hazard_curves_MC
hazard_curves_RS = hazard_curves_RS
pois =  step1_pois
alert_levels = alert_levels
event_parameters = step1_event_parameters
poi_html_map =  step1_map
save_format = npy
save_format_hc = hdf5
message_dict = message_dict
table_hazard_poi = table_hazard_values_at_poi
table_alert_level_poi = table_alert_level_at_poi
table_alert_level_fcp = table_alert_level_at_fcp
table_ensemble_bs_par = step1_ensemble_bs_par
table_ensemble_bs_prob = step1_ensemble_bs_prob
table_ensemble_ps_par = step1_ensemble_ps_par
table_ensemble_ps_prob = step1_ensemble_ps_prob
table_sampled_ensemble_bs_par = step1_sampled_ensemble_bs_par
table_sampled_ensemble_bs_prob = step1_sampled_ensemble_bs_prob
ptf_out = ptf_out

[Files]
focal_mechanism_root_name = MeanProb_BS4_FocMech_Reg
probability_models_root_name = ModelsProb_Reg
meshes_dictionary = slab_meshes.npy
pois_to_fcp = pois_to_fcp.npy
shapefile = 50m_land.shp
fcp_all_json = fcp_ws_all.json
source = epicentral_source.txt
fcp_wrk = fcp_all.txt
fcp_time_wrk = fcp_time.txt
bathymetry_wrk = bathymetry_cut.b
alert_message = alert_message.txt

[PATHS]
shapefiles = 
fcp = 
bathymetry = 

[BS]
EventTreeNodes = BS-1_Magnitude,BS-2_Position,BS-3_Depth,BS-4_FocalMechanism,BS-5_Area,BS-6_Slip
Moho_File = Grid025_MOHO_FIXED.txt

[PS]
EventTreeNodes = PS-1_Magnitude,PS-2_PositionArea
Barycenters_File = barycenters_xyz_ALL.txt

[matrix]
local_distance = 100
regional_distance = 400
basin_distance = 1000
min_mag_for_message = 4.499

[bounds]
neam = ([1.00, 28.00], [1.00, 32.00], [-7.00, 32.00], [-7.00, 42.00], [1.00, 42.00], [1.00, 47.00], [27.00, 47.00], [27.00, 41.15], [29.50, 41.15], [29.50, 41.00], [37.50, 41.00], [37.50, 30.00], [27.00, 30.00], [27.00, 28.00])

[Settings]
nr_cpu_max = 56
Selected_Pois = mediterranean
nSigma = 4.0
negligible_probability = 4.550026390e-02
Space_Bin = 2.5E3
Z2XYFact = 2.5
Mag_BS_Max = 8.1
Mag_PS_Max = 9.1
selected_intensity_measure = gl
run_up_yn = True
octaveYN = False
writeOutTesting = False
verboseYN = False
figcheckYN = False
lambdaFabrizioYN = False
nr_points_2d_ellipse = 1000
hazard_curve_sigma = 1.0

[Sampling]
OR_EM=1
OR_HC=0
MC_type=LH
MC_samp_scen=500
MC_samp_run=1
RS_type=LH
RS_samp_scen=0
RS_samp_run=0
RS_discr=0
RS_real=0
RS_output_scen=0
NbrFM=2
Kagan_weights=0
Kagan_origin=0
Mare_weights=1
Mare_origin=0
New_samp=1
up_time=[0,600]
temp_up_ti=[5,10,15,20,25,30,40,50,60,70,80,90,100,110,120,600]
temp_up=[50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,330,360,390,420,450,480,510,540,570,600]


[EventID]
eventID=2018_1025_zante
FM_path=../IO/med-tsumaps-python/focal_mech.hdf5
TSU_path=../IO/med-tsumaps-python/tsunami_data.hdf5
eventID_list=['2003_0521_boumardes','2015_0416_crete','2015_1117_lefkada','2016_0125_gibraltar','2016_1030_norcia','2017_0612_lesbo','2017_0720_kos-bodrum','2018_1025_zante','2019_0320_turkey','2019_0921_albania','2019_1126_albania','2020_0502_crete','2020_1030_samos','crete_synthetic_event','2023_0909_morocco','neamwave_synthetic_event']

[regionsPerPS]
1 = [3,24,44,48,49]
2 = [10,16,54]
3 = [27,33,35,36]
all = [3,10,16,24,27,33,35,36,44,48,49,54]

[ScenariosList]
BS_all_dict = No
BS_parameter_nr_coll = 7
nr_regions = 110

[mix_parameters]
ignore_regions = 42
vecID = [100000000,100000,100,1,0.0100,1.0000e-04,1.0000e-06]

[lambda]
Ntetra = 23382
Vol_tetra = 3.9990e+15
a = 0.6211
b = 0.4358
out_tetra_vol = 1
subd_buffer = 10000
mesh_path = ../IO/med-tsumaps-python/mesh
mesh_nodes = ['HA_mesh_nodes_x16.dat', 'CA_mesh_nodes_x16.dat', 'Cyprus_mesh_nodes_x16.dat']
mesh_faces = ['HA_mesh_faces_x16.dat', 'CA_mesh_faces_x16.dat', 'Cyprus_mesh_faces_x16.dat']
mesh_names = [ 'HeA', 'CaA', 'CyA']
mesh_zones = {'0':'[2,23,43,47,48]', '1':'[9,15,53]', '2':'[26,32,34,35]'}

[alert_levels]
type = {'matrix':'1',  'average':'1', 'best':'1', 'P':'[50,500,50]' }
intensity = {'run_up_yes':'[0,0.20,1.0]', 'run_up_no':'[0,0.10,0.5]'}
names = ['Information','Advisory','Watch']
cc = ['[1,1,1]', '[0,1,0]', '[1,0.8,0]', '[1,0,0]']
max_dist = 300
Nr_near = 3
probabilities = [50,950,50]
fcp_method = {'method': 'probability', 'rule': 'top', 'probability_level': 0.05}

[Visualisation]
mean_map = 1
perc_map = [95,84,50]
histo_para = 1
hazard_curve = [2,47]
convergence_plot = 0
mean_diff_map_for_HC_mean = 1
mean_diff_map_for_HC_perc = [95,84,50]



